h1{
    font-size: 80px !important;
    margin: 40px 0px;
    font-family: Impact;
    color: #009D5F;
}
p{
    font-size: 30px;
    margin: 30px 0 ;
}
button{
    width: 250px;
    height: 80px;
    background-color: #009D5F;
    color: white;
    margin: auto !important;
    text-align: center;
    border: 10px;
    border-radius: 30px !important;
    transition: all 0.5s;
}
button:hover{
    background-color: rgb(149,46,247);
}
body{
    background-image: url(../images/giphy.webp);
    color: aliceblue;
}
